*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-navigation ul {
  margin: 0;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.main-navigation ul a {
  display: block;
  padding: .5rem 1rem;
  color: inherit;
}